html {
  height: 100%;
}

body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  color: #FFFFFF;
  font-family: sans-serif;
  min-width: 1280px;
}

ul{
  margin:0px;
  padding: 0px;
}
li {
  margin: 0px;
  padding: 0px;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes remind {
  0% {top:80%}
  50% {top:75%}
  100% {top:80%}
}

/* Standard syntax */
@keyframes remind {
  0% {top:80%}
  50% {top:75%}
  100% {top:80%}
}



.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1200px;
}

.container:before,
.container:after {
  content: "";
  display: table;
}

.container:after {
  clear: both;
}

.top {
 height: 8%;
 background: rgba(31,34,37,.5);
 -webkit-backdrop-filter: blur(10px);
 width: 100%;
 position: fixed;
 z-index: 1000;
 top:0;
 display: flex;
 align-items: center;

}

.top img{
  margin-left: 23%;
  width: 100px;
  height: 25px;
}

.top ul {
  margin-left: 23%;
  font-size: 18px;
  color: #FFFFFF;
  float: left;
}

.top li {
  display: inline;
  text-align: center;
}

.top #tel {
  width: 200px;
  display: inline;
  font-size: 18px;
  float: right;
  margin: auto;
}

.top #tel img {
  width: 22px;
  height: 22px;
  vertical-align: middle;
}

.top #tel span {
  color: #FFFFFF;
}

.firstscreen {
  background: url(./res/bg1.jpeg) no-repeat;
  background-position: 50% 0;
  background-size: cover;
  height: 100%;

}

.firstscreen h1{
  color: #FFFFFF;
  font-size: 3em;
  position: relative;
  margin: 0 auto ;
  top: 42%;
  width: 500px;

}
.firstscreen p{
  margin: 0 auto ;
  width: 300px;
  top: 45%;
  position: relative;
  font-size: 18px;
}
.firstscreen a {
  position: relative;
  display: block;
  margin: 0 auto;
  top: 80%;
  width: 30px;
  height: 20px;
  -webkit-animation-name: remind; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: 3; /* Safari 4.0 - 8.0 */
  -webkit-animation-direction: reverse; /* Safari 4.0 - 8.0 */
  animation-name: remind;
  animation-duration: 2s;
  animation-iteration-count: 3;
  animation-direction: reverse;
}
.firstscreen img {
  width: 30px;
  height: 20px;
}


.secondscreen{
  background-color: white ;
  width: auto;
}
.secondscreen ul li { float: left; height: 275px; width: 300px; text-align: center; }
.work-type {
  padding: 30px 0;
  overflow: hidden;
}
.secondscreen img { padding-top: 30px; height: 120px;}
.secondscreen h3 { display: block;  font-size: 18px;color: #333333;}
.secondscreen span {display:block;font-size: 12px;color: #777777;}


.thirdscreen { background-color: #F5F5F5; padding: 30px 0; width: auto;}
.thirdscreen h3{color: #333333; font-size: 24px;  text-align: center; margin-bottom: 40px;}
.thirdscreen h3 span{display:block ; color: #666666; font-size: 13px; margin: 0 auto ;  width: 200px; top:10px;}

.thirdscreen ul {overflow: hidden; }
.thirdscreen  ul li {float: left; width: 300px; margin-bottom: 20px; text-align: center;display: inline-block;}
.thirdscreen  img {height: 200px; width: 200px; }
.thirdscreen  h4  {display: block;font-size: 18px;color: #1D1D1D; margin : 5px 0 0px; padding: 0px;}
.thirdscreen  span {font-size: 10px;color: #999999; margin: 0px;}


.forthscreen {
  background-color: #31363d;
  text-align: center;
  padding: 25px 0;
  /*height : 40%;
  width: auto;*/
}
.forthscreen h3 { color:#FFFFFF; font-size: 20px;}
.forthscreen span {display:block ; margin:0 auto; width: 490px; color:#cdcdcd;font-size:13px;}
.forthscreen #contact {margin: 0px auto ;padding-top: 20px;width: 500px;font-size: 12px;color:#cdcdcd;}

.fifthscreen {
  padding: 20px 0;
  background-color: #1F2225;
}
.fifthscreen h2 {margin:0 auto ; width: 200px; color: #cdcdcd;font-size:16px; }

.fifthscreen span {display: block;margin:0 auto ; width: 300px ; position: relative; color: #cdcdcd; font-size: 12px;}
